CLW/SampleData/watchersSample/watchersSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.watchersSample" targetNamespace="Expression.Blend.SampleData.watchersSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="watchersSample" type="tns:watchersSample" />
  <xs:complexType name="watchersSample">
    <xs:sequence>
      <xs:element name="newsSample" type="tns:newsSample" />
      <xs:element name="WatchersSample" type="tns:WatchersSample1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newsSample">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="newsSampleItem" type="tns:newsSampleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newsSampleItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:Format="Date" name="SubTitle" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="Link" type="xs:string" />
    <xs:attribute blend:FormatParameters="30,8" name="ContentText" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="WatchersSample1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WatchersSampleItem" type="tns:WatchersSampleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WatchersSampleItem">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,12" name="StatusMessage" type="xs:string" />
    <xs:attribute name="UnreadCount" type="xs:double" />
    <xs:attribute blend:FormatParameters="media\trash\favicons" name="IconSource" type="tns:Basic-Image" />
    <xs:attribute name="HasFavicon" type="xs:boolean" />
    <xs:attribute name="IconSource2" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>