CLW/SampleData/DummyNotificationWindowData/DummyNotificationWindowData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.DummyNotificationWindowData" targetNamespace="Expression.Blend.SampleData.DummyNotificationWindowData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DummyNotificationWindowData" type="tns:DummyNotificationWindowData" />
  <xs:complexType name="DummyNotificationWindowData">
    <xs:attribute blend:FormatParameters="8,8" name="NItemTitle" type="xs:string" />
    <xs:attribute blend:FormatParameters="media\trash\favicons" name="WatcherIcon" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Date" name="NItemSubTitle" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="NItemFastLink" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>